{% extends 'layout.html' %}

{% block title %}
Developer
{% endblock %}

{% block style %}
<style>
    #card {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .social-icons {
        text-align: center;
        margin-top: 15px;
    }

    .fa {
        padding: 8px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-instagram {
        background: #bd1748;
        color: white;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<div class="container" id="card">
    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body text-center">
            <h5 class="card-title">Jayanth Shanigarapu</h5>
            <h6 class="card-subtitle mb-2 text-muted">Hi! Everyone</h6>
            <p class="card-text">
                I have completed my MCA in Computer Applications from Omega PG College, Hyderabad.
                My project title is <b>"A Deep Learning Approach to Improving Image Captioning by Leveraging Knowledge Graphs".</b>
            </p>
        </div>
    </div>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/jayanth-shanigarapu-14bb8428b/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.instagram.com/__mr__j_a__y______/" target="_blank" class="fa fa-instagram"></a>
        <!-- Optional: Add Facebook icon if you have a link -->
        <!-- <a href="https://www.facebook.com/your-profile" target="_blank" class="fa fa-facebook"></a> -->
    </div>
</div>
{% endblock %}
